<ion-view view-title="My Notes">
  <ion-content>
    <div>
      <ion-list show-reorder="showOrder">
        <ion-item ng-href="#/edit/{{note.id}}" ng-repeat="note in notes track by note.id" class="item-remove-animate">
          <p>{{note.title}}</p>
          <p>{{note.desc}}</p>
          <ion-reorder-button on-reorder="move(note, $fromIndex, $toIndex)" class="ion-drag"></ion-reorder-button>
          <ion-option-button class="button-assertive ion-trash-b  icon-left" ng-click="remove(note.id)"></ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <a href="#/add" class="button button-balanced icon-left ion-compose" style="width: 50%; align-content: right">New Note</a>
    <button class="button button-assertive" ng-click="showOrderSet()">reorder</button>
  </div>
</ion-view>
