<ion-view view-title="My Notes">
  <ion-content>
    <div class="padding">
      <a href="#/add" class="button button-block button-balanced">New Note</a>
    </div>
    <div ng-controller="listCtrl">
      <ion-list>
        <ion-item ng-href="#/edit/{{note.id}}" ng-repeat="note in notes track by note.id" class="item-remove-animate">
          <p>{{note.title}}</p>
          <p>{{note.desc}}</p>
          <ion-option-button class="button-assertive" ng-click="remove(note.id)">delete</ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
